@font-face {
    font-family: Tenkai;
    src: url(Tenkai\ DEMO.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.image-container {
    height: 100%;
    position: relative;
    flex: 1;
    overflow: hidden;
}

.form-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    max-width: 700px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 40px;
}

.logo-container {
    top: 20%;
    position: absolute;
    display: flex;
    height: 120px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.odin-logo {
    height: 80%;
}

.logo-text {
    font-family: Tenkai;
    font-size: 80px;
    color: white;
}

.go-board {
    object-fit: cover;
    height: 100%;
}

form {
    padding: 40px;
    box-shadow: 0px 1px 3px gray;
    margin: 30px 0;
}

p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    font-size: 12px;
    margin-bottom: 4px;
}

input {
    margin-bottom: 20px;
    border-style: solid;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
}

input:focus {
    box-shadow: 2px 2px 5px;
}

input[type=password] {
    border-color: red;
}

form>div {
    display: flex;
    justify-content: left;
    gap: 200px;
}

column-1,
column-2 {
    display: flex;
    flex-direction: column;
}

input,
label {
    display: block;
}

.button-container {
    margin-left: 40px;
}

button {
    background-color: #af723c;
    color: white;
    font-weight: bold;
    box-shadow: 1px 1px 3px 1px gray;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    margin-bottom: 20px;
    cursor: pointer;
}

button:active {
    background-color: #b98a4c;
}

a {
    color: #af723c;
    text-decoration: none;
}

a:hover {
    color: #b98a4c;
}