@font-face {
    font-family: Tenkai;
    src: url(Tenkai\ DEMO.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.image-container {
    height: 100%;
    position: relative;
    flex: 1;
    overflow: hidden;
}

.form-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    max-width: 700px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 100px;
}

.logo-container {
    top: 20%;
    position: absolute;
    display: flex;
    height: 120px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.odin-logo {
    height: 80%;
}

.logo-text {
    font-family: Tenkai;
    font-size: 80px;
    color: white;
}

.go-board {
    object-fit: cover;
    height: 100%;
}

form {
    padding: 100px;
}

form>div {
    display: flex;
    justify-content: left;
    gap: 200px;
}

column-1,
column-2 {
    display: flex;
    flex-direction: column;
}

input,
label {
    display: block;
}

.button-container {
    margin-left: 100px;
}

button {
    padding: 10px;
    width: 200px;
}